# Ignore node_modules and build output
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# IDE / Editor files
.vscode/
.idea/
*.sw?

# Optional environment files
.env